<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span
          >copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          - Back end developed by
          <b
            ><a href="https://github.com/Dairanji" target="_blank"
              >Shayantan Mitra</a
            ></b
          >
        </span>
      </div>
    </div>
  </footer>
  <!-- Footer -->
</div>
</div>

<!-- Scroll to top -->
<a class="scroll-to-top rounded" href="#page-top">
<i class="fas fa-angle-up"></i>
</a>

<script src="vendor/vendor/jquery/jquery.min.js"></script>
<script src="vendor/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="vendor/js/ruang-admin.min.js"></script>
<script src="vendor/vendor/chart.js/Chart.min.js"></script>
<script src="vendor/js/demo/chart-area-demo.js"></script>
</body>
</html>
